# Lists

In [3]:
list.a <- c( 1, 2, 3, 4 )
list.a

[1] 1 2 3 4

In [4]:
( y = 1:100 )

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

In [5]:
seq( from = 0, to = 5, by = 0.5 )

 [1] 0.0 0.5 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

In [6]:
rep( 0, times = 100 )

  [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [38] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [75] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [7]:
length( empty.list )

ERROR: Error in eval(expr, envir, enclos): object 'empty.list' not found

# Subsetting

In [8]:
list.a[ 1 ]

[1] 1

In [9]:
list.a[ -2 ]

[1] 1 3 4

In [10]:
list.a[ 1:3 ]

[1] 1 2 3

In [11]:
list.a[ c( 1, 3, 5 ) ]

[1]  1  3 NA

In [12]:
z <- c( TRUE, TRUE, FALSE, TRUE )
list.a[ z ]

[1] 1 2 4

# Vectorization

In [13]:
x <- 1:10
x + 1

 [1]  2  3  4  5  6  7  8  9 10 11

In [14]:
2 ^ x

 [1]    2    4    8   16   32   64  128  256  512 1024

In [15]:
sqrt( x )

 [1] 1.000000 1.414214 1.732051 2.000000 2.236068 2.449490 2.645751 2.828427
 [9] 3.000000 3.162278

In [16]:
log( x )

 [1] 0.0000000 0.6931472 1.0986123 1.3862944 1.6094379 1.7917595 1.9459101
 [8] 2.0794415 2.1972246 2.3025851

In [17]:
exp( x )

 [1]     2.718282     7.389056    20.085537    54.598150   148.413159
 [6]   403.428793  1096.633158  2980.957987  8103.083928 22026.465795

#### Indexing Vectors

In [18]:
list.a[ list.a > 2 ]

[1] 3 4

In [19]:
as.character( list.a[ list.a > 2 ] )

[1] "3" "4"

In [20]:
list.b <- c( 10, 34, 56, 34, 234, 675 )
which( list.b > 56 )

[1] 5 6

In [21]:
list.b[ which( list.b > 56 ) ]

[1] 234 675

In [22]:
max( list.b )

[1] 675

In [23]:
which.max( list.b )

[1] 6

# Matrices

In [24]:
X <- matrix( seq( 0, 100, 1 ), nrow = 10, ncol = 10 )
X

Warning message in matrix(seq(0, 100, 1), nrow = 10, ncol = 10):
"data length [101] is not a sub-multiple or multiple of the number of rows [10]"

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,] 0    10   20   30   40   50   60   70   80   90
 [2,] 1    11   21   31   41   51   61   71   81   91
 [3,] 2    12   22   32   42   52   62   72   82   92
 [4,] 3    13   23   33   43   53   63   73   83   93
 [5,] 4    14   24   34   44   54   64   74   84   94
 [6,] 5    15   25   35   45   55   65   75   85   95
 [7,] 6    16   26   36   46   56   66   76   86   96
 [8,] 7    17   27   37   47   57   67   77   87   97
 [9,] 8    18   28   38   48   58   68   78   88   98
[10,] 9    19   29   39   49   59   69   79   89   99

In [25]:
X <- matrix( seq( 0, 100, 1 ), nrow = 10, ncol = 10, byrow = TRUE )
X

Warning message in matrix(seq(0, 100, 1), nrow = 10, ncol = 10, byrow = TRUE):
"data length [101] is not a sub-multiple or multiple of the number of rows [10]"

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  0    1    2    3    4    5    6    7    8    9
 [2,] 10   11   12   13   14   15   16   17   18   19
 [3,] 20   21   22   23   24   25   26   27   28   29
 [4,] 30   31   32   33   34   35   36   37   38   39
 [5,] 40   41   42   43   44   45   46   47   48   49
 [6,] 50   51   52   53   54   55   56   57   58   59
 [7,] 60   61   62   63   64   65   66   67   68   69
 [8,] 70   71   72   73   74   75   76   77   78   79
 [9,] 80   81   82   83   84   85   86   87   88   89
[10,] 90   91   92   93   94   95   96   97   98   99

In [26]:
X[ 5, 5 ]

[1] 44

In [27]:
X[ 5, ]

 [1] 40 41 42 43 44 45 46 47 48 49

In [28]:
X[ , 5 ]

 [1]  4 14 24 34 44 54 64 74 84 94

In [29]:
X[ 2, c( 3, 9 ) ]

[1] 12 18

In [30]:
X[ c( 3, 9 ), 2 ]

[1] 21 81

In [31]:
x.2 <- 0:9
rev( x.2 )

 [1] 9 8 7 6 5 4 3 2 1 0

In [32]:
rbind( X, rev( x ), rep( 9:9 ) )

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  0    1    2    3    4    5    6    7    8    9
 [2,] 10   11   12   13   14   15   16   17   18   19
 [3,] 20   21   22   23   24   25   26   27   28   29
 [4,] 30   31   32   33   34   35   36   37   38   39
 [5,] 40   41   42   43   44   45   46   47   48   49
 [6,] 50   51   52   53   54   55   56   57   58   59
 [7,] 60   61   62   63   64   65   66   67   68   69
 [8,] 70   71   72   73   74   75   76   77   78   79
 [9,] 80   81   82   83   84   85   86   87   88   89
[10,] 90   91   92   93   94   95   96   97   98   99
[11,] 10    9    8    7    6    5    4    3    2    1
[12,]  9    9    9    9    9    9    9    9    9    9

In [34]:
X + X

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]   0    2    4    6    8   10   12   14   16   18
 [2,]  20   22   24   26   28   30   32   34   36   38
 [3,]  40   42   44   46   48   50   52   54   56   58
 [4,]  60   62   64   66   68   70   72   74   76   78
 [5,]  80   82   84   86   88   90   92   94   96   98
 [6,] 100  102  104  106  108  110  112  114  116  118
 [7,] 120  122  124  126  128  130  132  134  136  138
 [8,] 140  142  144  146  148  150  152  154  156  158
 [9,] 160  162  164  166  168  170  172  174  176  178
[10,] 180  182  184  186  188  190  192  194  196  198

In [36]:
# Not matrix multiplication, but element-wise (same for division)
X * X

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]    0    1    4    9   16   25   36   49   64   81
 [2,]  100  121  144  169  196  225  256  289  324  361
 [3,]  400  441  484  529  576  625  676  729  784  841
 [4,]  900  961 1024 1089 1156 1225 1296 1369 1444 1521
 [5,] 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401
 [6,] 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481
 [7,] 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761
 [8,] 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241
 [9,] 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921
[10,] 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [37]:
# Matrix multiplication
X %*% X

      [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]  [,8]  [,9]  [,10]
 [1,]  2850  2895  2940  2985  3030  3075  3120  3165  3210  3255
 [2,]  7350  7495  7640  7785  7930  8075  8220  8365  8510  8655
 [3,] 11850 12095 12340 12585 12830 13075 13320 13565 13810 14055
 [4,] 16350 16695 17040 17385 17730 18075 18420 18765 19110 19455
 [5,] 20850 21295 21740 22185 22630 23075 23520 23965 24410 24855
 [6,] 25350 25895 26440 26985 27530 28075 28620 29165 29710 30255
 [7,] 29850 30495 31140 31785 32430 33075 33720 34365 35010 35655
 [8,] 34350 35095 35840 36585 37330 38075 38820 39565 40310 41055
 [9,] 38850 39695 40540 41385 42230 43075 43920 44765 45610 46455
[10,] 43350 44295 45240 46185 47130 48075 49020 49965 50910 51855

In [38]:
t(X)

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,] 0    10   20   30   40   50   60   70   80   90
 [2,] 1    11   21   31   41   51   61   71   81   91
 [3,] 2    12   22   32   42   52   62   72   82   92
 [4,] 3    13   23   33   43   53   63   73   83   93
 [5,] 4    14   24   34   44   54   64   74   84   94
 [6,] 5    15   25   35   45   55   65   75   85   95
 [7,] 6    16   26   36   46   56   66   76   86   96
 [8,] 7    17   27   37   47   57   67   77   87   97
 [9,] 8    18   28   38   48   58   68   78   88   98
[10,] 9    19   29   39   49   59   69   79   89   99

In [47]:
Z <- matrix( c( 9, 2, -3, 2, 4, -2, -3, -2, 16 ), 3, byrow = TRUE )
# Inversion of Square Matrix if Solvable
solve(Z)

     [,1]        [,2]        [,3]
[1,]  0.12931034 -0.05603448 0.01724138
[2,] -0.05603448  0.29094828 0.02586207
[3,]  0.01724138  0.02586207 0.06896552

In [48]:
# Should return identity, but because of computation issues better to use all.equal()
solve(Z) %*% Z

     [,1]          [,2]          [,3]
[1,]  1.000000e+00 -6.245005e-17  0.000000e+00
[2,]  8.326673e-17  1.000000e+00 -5.551115e-17
[3,] -2.775558e-17  0.000000e+00  1.000000e+00

In [49]:
diag(3)

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

In [50]:
all.equal( solve(Z) %*% Z, diag(3) )

[1] TRUE

In [51]:
dim(Z)

[1] 3 3

In [53]:
rowSums(Z)

[1]  8  4 11

In [54]:
colSums(Z)

[1]  8  4 11

In [55]:
rowMeans(Z)

[1] 2.666667 1.333333 3.666667

In [56]:
colMeans(Z)

[1] 2.666667 1.333333 3.666667

In [57]:
diag(Z)

[1]  9  4 16

In [59]:
diag(1:5)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    0    0    0    0
[2,] 0    2    0    0    0
[3,] 0    0    3    0    0
[4,] 0    0    0    4    0
[5,] 0    0    0    0    5

In [60]:
diag(5)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    0    0    0    0
[2,] 0    1    0    0    0
[3,] 0    0    1    0    0
[4,] 0    0    0    1    0
[5,] 0    0    0    0    1

# Calculations with Vectors and Matrices

In [61]:
a_vec = c(1, 2, 3)
b_vec = c(2, 2, 2)

In [62]:
# If two vectors, %*% is used for dot/inner product
a_vec %*% b_vec

     [,1]
[1,] 12

In [63]:
# Outer Product
a_vec %o% b_vec

     [,1] [,2] [,3]
[1,] 2    2    2
[2,] 4    4    4
[3,] 6    6    6

In [64]:
# Coerce vector into a matrix makes it a n x 1 matrix
# Also use crossprod() for cross product of matrices
crossprod( a_vec, b_vec )

     [,1]
[1,] 12

In [65]:
# Outer product
tcrossprod(a_vec, b_vec)

     [,1] [,2] [,3]
[1,] 2    2    2
[2,] 4    4    4
[3,] 6    6    6

In [66]:
# THe above does X^tY when dealing with matrics 
# Or X^tX when dealing with linear models

# Lists

In [67]:
ex_list = list(
    a = c( 1, 2, 3, 4 ),
    b = TRUE,
    c = 'Hello',
    d = function(arg = 42) {print('Hello')},
    e = diag(5)
)

In [68]:
ex_list[1]

$a
[1] 1 2 3 4

In [69]:
ex_list[[1]]

[1] 1 2 3 4

In [70]:
ex_list$e

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    0    0    0    0
[2,] 0    1    0    0    0
[3,] 0    0    1    0    0
[4,] 0    0    0    1    0
[5,] 0    0    0    0    1

In [71]:
ex_list[1:2]

$a
[1] 1 2 3 4

$b
[1] TRUE

In [72]:
ex_list[ c("e", "a") ]

$e
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    0    0    0    0
[2,]    0    1    0    0    0
[3,]    0    0    1    0    0
[4,]    0    0    0    1    0
[5,]    0    0    0    0    1

$a
[1] 1 2 3 4

In [73]:
ex_list$d(arg = 1)

[1] "Hello"

# Data Frames

In [74]:
example_data <- data.frame(
    x = c( 1, 3, 5, 7, 9, 1, 3, 5, 7, 9 ),
    y = c( rep( 'Hello', 9 ), 'Goodbye' ),
    z = rep( c( TRUE, FALSE ), 5 )
)

In [75]:
example_data

   x y       z
1  1 Hello    TRUE
2  3 Hello   FALSE
3  5 Hello    TRUE
4  7 Hello   FALSE
5  9 Hello    TRUE
6  1 Hello   FALSE
7  3 Hello    TRUE
8  5 Hello   FALSE
9  7 Hello    TRUE
10 9 Goodbye FALSE

In [76]:
example_data$x

 [1] 1 3 5 7 9 1 3 5 7 9

In [77]:
str( example_data )

'data.frame':	10 obs. of  3 variables:
 $ x: num  1 3 5 7 9 1 3 5 7 9
 $ y: Factor w/ 2 levels "Goodbye","Hello": 2 2 2 2 2 2 2 2 2 1
 $ z: logi  TRUE FALSE TRUE FALSE TRUE FALSE ...

In [78]:
nrow( example_data )

[1] 10

In [79]:
ncol( example_data )

[1] 3

In [80]:
dim( example_data )

[1] 10  3

In [81]:
library( readr )

In [ ]:
example_data_from_csv = read_csv( "filepath" )